@(implicit request: Http.Request)

@main("Add Property") {
    <h1>Add Property</h1>
    <form method="POST" class="form-container" action="@routes.PropertyController.addProperty()">
        <div class="form-group">
            <label for="nameOfBuilding"><br></label>
            <input type="text"  class="form-control" placeholder="Enter name of building" name="nameOfBuilding" required>
            <label for="streetName"><br></label>
            <input type="text"  class="form-control" placeholder="Enter Street Name" name="streetName" required>
            <label for="streetNumber"><br></label>
            <input type="text"  class="form-control" placeholder="Enter Street Number" name="streetNumber" required>
            <label for="postalCode"><br></label>
            <input type="text"  class="form-control" placeholder="Enter Postal Code" name="postalCode" required>
            <label for="city"><br></label>
            <input type="text" class="form-control" placeholder="Enter City" name="city" required>
            <label for="country"><br></label>
            <input type="text"  class="form-control" placeholder="Enter Country" name="country" required>
            <label for="description"><br></label>
            <textarea type="text"  class="form-control" placeholder="Enter Description" name="description" required></textarea><br>
            <button type="submit"  class="btn btn-success">Add Property</button>
                <a class="btn btn-danger" href="@routes.PropertyController.show()">Close</a>
        </div>
    </form>


}