@(implicit request: Http.Request)

@layout("Welcome to Property viewer") {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
    <h2>Properties</h2>
    <table class="table" id="properties">
        <tr class="table">
            <th>Id</th>
            <th>Name Of Building</th>
            <th>Street</th>
            <th>Number</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Description</th>
            <th>Coordinates</th>
        </tr>
        <tbody>
        </tbody>
    </table>
    <button class="open-button" onclick="openForm()">Open Form</button>
    <div class="form-popup" id="myForm">
    <form method="POST" class="form-container" action="@routes.PropertyController.addProperty()">
        <h1>Add Property</h1>
        <div style="float: left">
            <label for="nameOfBuilding"><b></b></label>
            <input type="text" placeholder="Enter name of building" name="nameOfBuilding" required>
        </div>
        <div style="float: right">
            <label for="streetName"><b></b></label>
            <input type="text" placeholder="Enter Street Name" name="streetName" required>
        </div>
        <div style="float: left">
            <label for="streetNumber"><b></b></label>
            <input type="text" placeholder="Enter Street Number" name="streetNumber" required>
        </div>
        <div style="float: right">
            <label for="postalCode"><b></b></label>
            <input type="number" placeholder="Enter Postal Code" name="postalCode" required>
        </div>
        <div style="float: left">
            <label for="city"><b></b></label>
            <input type="text" placeholder="Enter City" name="city" required>
        </div>
        <div style="float: right">
            <label for="country"><b></b></label>
            <input type="text" placeholder="Enter Country" name="country" required>
        </div>
        <label for="description"><b></b></label>
        <textarea type="text" placeholder="Enter Description" name="description" style="height:200px" required></textarea>
        <button type="submit" class="btn">Add Property</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
}
