@import java.util
@(properties: util.List[Property])
@import helper._

@main("Show All Properties") {
    <h2>Properties</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Street</th>
            <th>Number</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Description</th>
            <th>Coordinates</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tbody>
            @for(property <- properties) {
            <tr>
                <td>@property.getId()</td>
                <td>@property.getNameOfBuilding()</td>
                <td>@property.getStreetName()</td>
                <td>@property.getStreetNumber</td>
                <td>@property.getPostalCode()</td>
                <td>@property.getCity()</td>
                <td>@property.getCountry()</td>
                <td>@property.getDescription()</td>
                <td>@property.getCoordinates()</td>
                <td><button class="btn-success"><a class="btn-success" href="@routes.PropertyController.create()">Add</a></button></td>
                <td><button class="btn-warning"><a class="btn-warning" href="@routes.PropertyController.create()">Edit</a></button></td>
                <td><button class="btn-danger" onclick="sendDeleteRequest(
                    '@routes.PropertyController.deleteProperty(property.getId())',
                        '@routes.PropertyController.show()',
                )
                ">Delete</button></td>
            </tr>
    }
        </tbody>
    </table>
}