@(property: Property)

@main("Update Property") {
    <h1>Update Property</h1>
    <form method="POST" class="form-container" action="@routes.PropertyController.updateProperty()">
        <div class="form-group">
            <label for="nameOfBuilding"><br></label>
            <input type="text" class="form-control" value="@property.getNameOfBuilding" name="nameOfBuilding" required>
            <label for="streetName"><br></label>
            <input type="text"  class="form-control" value="@property.getStreetName" name="streetName" required>
            <label for="streetNumber"><br></label>
            <input type="text"  class="form-control" value="@property.getStreetNumber" name="streetNumber" required>
            <label for="postalCode"><br></label>
            <input type="text"  class="form-control" value="@property.getPostalCode" name="postalCode" required>
            <label for="city"><br></label>
            <input type="text" class="form-control" value="@property.getCity" name="city" required>
            <label for="country"><br></label>
            <input type="text"  class="form-control" value="@property.getCountry" name="country" required>
            <label for="description"><br></label>
            <textarea class="form-control" name="description" required>@property.getDescription</textarea><br>
            <button type="submit"  class="btn btn-success">Update Property</button>
                <a class="btn btn-danger" href="@routes.PropertyController.show()">Close</a>
        </div>
    </form>


}